<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WHU</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css">
</head>
<body>
 <div >
<!--    <img src="{{ url_for('static',filename='/img/黄鹤楼mask.jpg') }}">-->

<div style="text-align: center;">
    <img src="static/img/武汉大学词云图.jpg"  width="500" height="550">
</div>

     <p style="padding-left: 95px"><a href = '' >更新评论词语</a></p>
    <p style="padding-left: 95px">快去制定你自己的<a href = '' >自定义词语</a>吧！</p>
 </div>

</body>
</html>